/* * { */
/*     background: transparent; */
/* } */

window {
    background: transparent;
    padding: 20px;
}

.widget{
    margin: 10px;
}

.calendar {
    border-radius: 20px;
    background: #181818;
    color: rgb(150, 150, 150);
    border: 1px solid #333333;
}

.clock {
    border-radius: 20px;
    background: #181818;
    color: rgb(150, 150, 150);
    border: 1px solid #333333;
}
.battery {
    border-radius: 20px;
    background: #181818;
    color: rgb(150, 150, 150);
    border: 1px solid #333333;
    padding: 5px;
}

