/* * { */
/*     background: transparent; */
/* } */

:root {
    --background: #181818;
    --muted: #333333;
    --accent: #5688c7;

    --text-active: white;
    --text-inactive: hsl(0, 0%, 20%);
    
    --widget-normal-radius: 20px;
}

window {
    background: transparent;
    padding: 0px 20px;
}

scrolledwindow overshoot.top,
scrolledwindow overshoot.bottom,
scrolledwindow undershoot.top,
scrolledwindow undershoot.bottom {
    background: none;
    border: none;
    box-shadow: none;
}

#b {
    padding: 15px;
}

#b .widget {
    border: unset;
    margin: unset;
}

#b .button {
    min-height: 50px;
    min-width: 50px;
}

.widget {
    margin: 0px 10px 10px 0px;
    border-radius: var(--widget-normal-radius);
    background: var(--background);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px var(--muted),
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.calendar {
    color: rgb(150, 150, 150);
}

.clock {
    color: rgb(0, 0, 0);
}

.battery {
    color: rgb(150, 150, 150);
}

.button {
    color: rgb(150, 150, 150);
    padding: 5px;
}


.button image {
    -gtk-icon-size: 20px;
}

.spacer {
    all: unset;
    opacity: 0;
}

.button.active image {
    transition: 0.2s ease-in-out;
    color: var(--text-active);
}

.button.inactive image {
    transition: 0.2s ease-in;
    color: gray;
}

.button-obj {
    min-width: 50px;
    min-height: 50px;
    border-radius: 999px;
}

.button.active .button-obj {
    transition: 0.3s ease;
    color: var(--accent);
}

.button.inactive .button-obj {
    transition: 0.3s ease;
    color: var(--text-inactive);
}

.separator {
    background: var(--accent);
    border-radius: 999px;
    min-height: 1px;
    margin: 0px 10px;
}
/* Sliders */
/* ------------- */
.slider {
    color: #333333;
    border-radius: 999px;
    min-width: 60px;
}
.slider-obj {
    transition: 0.2s ease;
    color: var(--text-inactive);
}
.slider-obj.moving {
    transition: 0.2s ease;
    color: var(--text-active);
}

.slider image {
    color: var(--text-active);
}

.slider.horizontal {
    padding: 30px 20px;
    border-radius: var(--widget-normal-radius);
}
.slider.horizontal image {
    color: alpha(var(--text-active), 0.4);
}

/* Notifications */
/* ------------- */
.notification,
.notification.prio-low,
.notification.prio-normal {
    --notification-background: #181818;
    --notification-color: #f8f8f8;
    --notification-border: #333333;
    --notification-muted: #bbbbbb;
}

.notification.prio-critical {
    --notification-background: #3a1e1e;
    --notification-color: hsla(0, 57%, 50.8%, 1);
    --notification-border: var(--notification-color);
    --notification-muted: hsla(0, 57%, 50.8%, 0.6);
}

.notification {
    transition: box-shadow 0.2s ease;
    padding: 15px;
    background: var(--notification-background);
    border: 1px solid var(--notification-border);
    border-radius: 20px;
    min-height: 55px;
    color: var(--notification-color);
}

.notification-title {
    font-weight: 500;
}

.notification .close-icon,
.notification-body {
    color: var(--notification-muted);
}

.notification:hover {
    transition: 0.2s ease;
    box-shadow: inset 0px 0px 0px 0.5px rgba(55, 55, 55, 1);
}

.notification_centre,
.notification_centre list,
.notification_centre list>row {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
}
