/* * { */
/*     background: transparent; */
/* } */

:root {
    --background: #181818;
    --muted: #333333;
    --accent: #5688c7;
    --orange: #BF5D32;
    --green: #567B45;

    --text-100: hsl(0, 0%, 100%);
    --text-90: hsl(0, 0%, 90%);
    --text-80: hsl(0, 0%, 80%);
    --text-70: hsl(0, 0%, 70%);
    --text-60: hsl(0, 0%, 60%);
    --text-50: hsl(0, 0%, 50%);
    --text-40: hsl(0, 0%, 40%);
    --text-30: hsl(0, 0%, 30%);
    --text-20: hsl(0, 0%, 20%);
    --text-10: hsl(0, 0%, 10%);

    --widget-normal-radius: 20px;
}

.testing {
    background: red;
}

window {
    background: transparent;
    padding: 0px 20px;
}

scrolledwindow overshoot.top,
scrolledwindow overshoot.bottom,
scrolledwindow undershoot.top,
scrolledwindow undershoot.bottom {
    background: none;
    border: none;
    box-shadow: none;
}

#b {
    padding: 15px;
}

#b .widget {
    border: unset;
    margin: unset;
}

#b .button {
    min-height: 50px;
    min-width: 50px;
}

.widget {
    margin: 0px 10px 10px 0px;
    border-radius: var(--widget-normal-radius);
    background: var(--background);
    box-shadow:
        5px 5px 5px 2px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px var(--muted),
        inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
    padding: 2px;
}

.inner-widget {
    border: unset;
    margin: 0px;
}

.calendar {
    color: rgb(150, 150, 150);
}

.clock {
    color: rgb(0, 0, 0);
}

.battery {
    color: rgb(150, 150, 150);
}

.separator {
    background: var(--accent);
    border-radius: 999px;
    min-height: 1px;
    margin: 0px 10px;
}

/* Calendar Details */
/* ------------- */
.calendar-details {
    background-color: var(--background);
    color: var(--text-80);
    margin: 0;
    border-radius: var(--widget-normal-radius);
}
.calendar-details button:hover {
    background-color: transparent;
    background: transparent;
    color: var(--text-80);
    transition: 0.2s ease;
}

.numeric-data {
    font-family: "Monospace";
    background: var(--muted);
    color: var(--text-80);
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 10px;
}

.event-tag {
    color: var(--accent);
    font-weight: 800;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.location-text {
    color: var(--accent);
}

.description-body {
    line-height: 1.5;
    opacity: 0.9;
}
.dim-label {
    color: var(--text-60);
}

/* Buttons */
/* ------------- */

.button {
    color: rgb(150, 150, 150);
    padding: 5px;
}

.button image {
    -gtk-icon-size: 20px;
}

.spacer {
    all: unset;
    opacity: 0;
}

.button.state-1 image {
    transition: 0.2s ease-in-out;
    color: var(--text-80);
}

.button.state-0 image {
    transition: 0.2s ease-in;
    color: gray;
}

.button-obj {
    transition: 0.3s ease;
    min-width: 50px;
    min-height: 50px;
    border-radius: 999px;
}

.button.state-1 .button-obj {
    color: var(--accent);
}
.button.state-0 .button-obj {
    color: var(--text-20);
}

.button.powermode image {
    -gtk-icon-size: 24px;
}
.button.powermode.state-0 .button-obj {
    color: var(--green);
}
.button.powermode.state-0 image {
    color: var(--text-100);
}
.button.powermode.state-1 .button-obj {
    color: var(--text-20);
}
.button.powermode.state-1 image {
    color: gray;
}
.button.powermode.state-2 .button-obj {
    color: var(--orange);
}
.button.powermode.state-2 image {
    color: var(--text-100);
}


/* Sliders */
/* ------------- */
.slider {
    color: #333333;
    border-radius: 999px;
    min-width: 60px;
}

.slider-obj {
    transition: 0.2s ease;
    color: var(--text-20);
}

.slider-obj.moving {
    transition: 0.2s ease;
    color: var(--text-80);
}

.slider image {
    color: var(--text-80);
}

.slider.horizontal {
    padding: 30px 20px;
    border-radius: var(--widget-normal-radius);
}

.slider.horizontal image {
    color: alpha(var(--text-80), 0.4);
}

/* Notifications */
/* ------------- */
.notification,
.notification.prio-low,
.notification.prio-normal {
    --notification-background: #181818;
    --notification-color: #f8f8f8;
    --notification-border: #333333;
    --notification-muted: #bbbbbb;
}

.notification.prio-critical {
    --notification-background: #3a1e1e;
    --notification-color: hsla(0, 57%, 50.8%, 1);
    --notification-border: var(--notification-color);
    --notification-muted: hsla(0, 57%, 50.8%, 0.6);
}

.notification {
    transition: box-shadow 0.2s ease;
    padding: 15px;
    background: var(--notification-background);
    border: 1px solid var(--notification-border);
    border-radius: 20px;
    min-height: 55px;
    color: var(--notification-color);
}

.notification-title {
    font-weight: 500;
}

.notification .close-icon,
.notification-body {
    color: var(--notification-muted);
}

.notification:hover {
    transition: 0.2s ease;
    box-shadow: inset 0px 0px 0px 0.5px rgba(55, 55, 55, 1);
}

.notification_centre,
.notification_centre list,
.notification_centre list>row {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
}
